/* colors */

$purple: #31309c;
$blue: #8f92ff;
$very-light-blue: #f5f5ff;
$form-blue: darken($very-light-blue, 2); 
$border-blue: darken($form-blue, 2);

$red: #ff8d6d;
$light-red: #ffbcb6;
$yellow: #ffcb42;
$mid-yellow: #ffd566;
$light-yellow: #ffe9b1;
$yellow-shadow: #844e00;
$very-light-yellow: #fff8e7;
$green: #b6ff6b;
$light-green: #ddffc6;


$text: #555;