$total-cols: 12;                    /* a 12-column grid */
$col-width: 5em;                    /* each column is 4em wide */
$gutter-width: 1em;                 /* 1em gutters between columns */
$side-gutter-width: $gutter-width;  /* 1em padding at the edges of the page as well */


@mixin grid-container {
	@include container;
	//@include susy-grid-background;
}


.container {
	@include grid-container;
}

.introduction {
	@include full;
}

#statistics {
	@include columns(7);
	@include alpha();
	
	.homeStatistic {
		@include columns(7, 7);
	}
	
	.icon {
		@include columns(1, 7);
	}
	
	.info {
		@include columns(6,7);
		@include omega(7);
	}
}

#how_to_contribute {
	@include columns(5);
	@include omega();
}

.cta {
	@include columns(5);
}

.textPage {
	@include full;
	@include suffix(4);
}

form#registration {
	.ctrlHolder {
		@include full;
		
		// Form controls nested inside lists, like combo and checkboxes
		ul {
			li {
				.formHint{
					@include reset-column;
					@include prefix(0);
				}
				
				label {
					@include reset-column;
					@include full;
				}
			}
		}		
	}
	
	.ui-tabs-nav {
		@include full;
		@include prefix(2);
	}
	
	.buttonHolder {
		@include full;
		@include prefix(2);
	}
	
	.infoMsg {
		@include full;
		@include prefix(2);
	}
	
	.inlineLabels {
		label,
		.label,
		.readORegisternlyLabel {
			@include columns(2, 12);
		}
		
		.textInput,  
		.fileUpload,
		.selectInput,
		select,
		textarea,
		ul {
			@include columns(5, 12);
		}
		
		ul.citationList {
			@include columns(8, 12);
		}
		
		
		
		.error .errorHint {
			@include float(left);
		}
		
		ul {
			.textInput,  
			.fileUpload,
			.selectInput,
			select,
			textarea {
				margin-left: 0;
				margin-right: 0;
				width: 100%;
			}
			
			.subInput {
				.textInput,  
				.fileUpload,
				.selectInput,
				select,
				textarea {
					margin-left: 0;
					margin-right: 0;
					width: 70%;
				}
				
			}
		}
		
		.formHint {
			@include columns(10, 12);
			@include prefix(2, 12);
			margin-left: 0; // This is added by uni-form, don't need with Susy
		}
	}
}

.okMsg {
	@include full;
}

.registerAnother {
	@include full;
	
	p {
		@include full(12);
	}
}

#registrationForm .optionalInformation .textInput {
	@include columns(2, 12);
}

.actSummary, .outlink {
	@include full;
}

.facetedNavigation {
	@include alpha();
	@include columns(2);
}

.facetedResults {
	@include columns(8);
	@include suffix(2);
	@include omega();
}