$base-size: 11px 14px; // 14px = body text, 11px = caption
$ratio: $golden;
/* modular scale:
-2 -1 0  1  2  3  4  5  6  7  8
 7  9 11 14 18 23 29 37 47 59 75

*/



$serif-stack: Baskerville, Garamond, Palatino, "Palatino Linotype", "Hoefler Text", "Times New Roman", serif;;
$sans-stack: "Open Sans", Arial, Verdana, sans-serif;
$mono-stack: Pragmata, Menlo, 'DejaVu LGC Sans Mono', 'DejaVu LGC Sans Mono', 'DejaVu Sans Mono', Consolas, 'Everson Mono', 'Lucida Console', 'Andale Mono', 'Nimbus Mono L', 'Liberation Mono', FreeMono, 'Lucida Sans Typewriter', 'Lucida Typewriter', 'Osaka Monospaced', "Bitstream Vera Sans Mono", Courier, 'New Courier', monospace;



@mixin serif-font {
	font-family: $serif-stack;
	font-variant-ligatures: common-ligatures;
	text-rendering: optimizeLegibility;
	
}
@mixin sans-font { font-family: $sans-stack; }
@mixin mono-font { font-family: $mono-stack; }

abbr {
	font-variant: small-caps;
}

body {
	@include sans-font;
	font-size: ms(1);
}

h2 {
	@include serif-font;
	font-size: ms(4);
	line-height: ms(5);
}


em {
	font-style: italic;
}
.logo {
	font-family: UniversLTStd-Cn;
	font-size: ms(6);
	line-height: ms(7);
}

nav {
	font-size: ms(1);
}

.introduction {
	@include serif-font;
	font-size:   ms(3);
	line-height: ms(3) * 1.3;
}
	
.tagline {
	font-size:   ms(6);
	line-height: ms(6) * 1.1;
}

.cta {
	font-size: ms(4);
}

.uniForm {
	.formHint {
		font-size:   ms(0);
		line-height: ms(1);
	}	
	
	.primaryAction {
		@include sans-font;
		font-size: ms(2);
	}
	
	.secondaryAction {
		@include sans-font;
		font-size: ms(1);
		font-weight: normal;
	}
}

.biblio-entry {
	font-size: ms(0);
	line-height: ms(2);
}

.actSummary { 
	.biblio-entry { line-height: ms(1); }
}

.lsid {
	@include mono-font;
}

.searchResults {
	.actName {
		line-height: ms(3);
	}
}