.uniForm {
	
	fieldset {
		padding: 1em 0;
	}
	
	.ctrlHolder {
		padding: 0.5em 0;
		
		&.error {
			@include border-radius(3px);
			border: 1px solid $red;
			background-color: $light-red;
			
			label,
			.label { color: $dark-red; }
			
			.formHint { color: $dark-red; }
		}
	}
	
	label em,
	.label em{ float: none; width: auto; margin: auto; color: $red; font-style: normal; }
	
	.formHint {
		color: lighten($text, 20);
	}
	
	.message {
		@include border-radius(3px);
		padding: 1em;
		border-style: solid;
		border-width: 1px;
		margin-bottom: 1em;
	}
	
	#okMsg {
		@extend .message;
		background-color: $light-green;
		border-color: $green;
		color: $dark-green;
	}
	
	#errorMsg {
		@extend .message;
		border-color: $red;
		background-color: $light-red;
		color: $dark-red;
		
		h3 { margin-bottom: 1em; }
		ol { list-style: disc inside; }
	}
	.infoMsg p {
		background: url(../images/icon-info.png) left center no-repeat;
		padding: 0.7em 0 0.7em 30px;
		margin-left: -5px; // Optically align the circle icon
		color: $purple;
	}
	
	ul.alternate {
		&.dateSelect {
			li{ width: auto;}
		}
		.formHint{ float: none; }
	}
	
	.inlineLabels {
		label,
		.label,
		.readOnlyLabel {
			text-align: right;
			
			em {
				position: static;
				display: inline;
			}
		}
		
		ul{
			li{ 
				display: block;
				margin-top: 0;
			}
			&.alternate li { margin-top: 0; margin-bottom: 0; }
			
			label,
			.label,
			.readOnlyLabel {
				text-align: left;
			}
		}
	}
}