/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/layout";
@import "modular-scale";
@import "susy";
@import "sassy-buttons";

@import "colors";
@import "typography";
@import "uni-form";
@import "grid";
@import "uni-form-theme";
@import "autocomplete";
@import "tabs";



a {
	color: $link-color;
	text-decoration: none;
	border-bottom: 1px dotted lighten($link-color, 30);
	
	&:visited {
		color: $link-visited-color;
		border-bottom: none;
	}
	
	
	&:hover {
		color: $link-hover-color;
		border-bottom-style: solid;
		border-bottom-color: $link-hover-color;
	}
	

}



.check { color: $dark-green; }

body {
	background-color: $very-light-blue;
	color: $text;
}



#header {
	display: block;
	background: $purple;
	@include background(
		linear-gradient(top, $purple, $dark-purple)
	);
	height: ms(6);
	border-bottom: 2px solid #000;
}

	.logo {
		@include float(left);
		padding-top: 8px;
		
		a, img{ 
			display: block;
			width: image-width('zoobank-logo.gif');
			height: image-height('zoobank-logo.gif');
			text-decoration: none;
			border-bottom: none;
		}
	}
	nav {
		padding-top: ms(6) - ms(1) - 6px;
		float:right;
		li { 
			display: inline;
			a {
				margin-left: 0.5em;
				padding: 0 0.5em;
				color: $very-light-blue;
				text-decoration: none;
				border-bottom: 0;
				
				&:hover {
					text-decoration: underline;
					color: $yellow;
				}
				
				&:visited {
					color: $very-light-blue;
				}
			}
		}
	}
	
	.login_container {
		position: relative;
	}
	
	a#login_link{
		/* the .menu_open state adds a border around the element
		   which causes the other navigation elements to jump unsightly, 
		   so this little trick here takes care of that */
		border-left: 1px solid transparent;
		border-right: 1px solid transparent;
		
		&.menu_open {
			position: relative;
			z-index: 10001;
			@include border-top-left-radius(3px);
			@include border-top-right-radius(3px);
			background-color: $border-blue;
			border: 1px solid darken($border-blue, 3);
			border-bottom: none;
			color: $purple;
		}
	}
	
	.login_form {
		position: absolute;
		z-index: 10000;
		top: ms(2);
		right: 0;
		width: 12em;
		background-color: $border-blue;
		border: 1px solid darken($border-blue, 3);
		padding: 0 1em 1em 1em;
	
		fieldset {
			padding: 0.5em 0;
		}
		
		input {
			width: 100% !important;
		}
	
		.helpful_links {
			margin-top: 0.5em;
			
			a {
				font-size: ms(0);
				padding: 0;
				@include link-colors($link-color, $link-hover-color);
			}
		}
	}
	
	

#footer {
	margin-top: 6em;
	padding-top: 1em;
	text-align: center;

	border-top: 1px solid $border-blue;
	@include background(
		linear-gradient(top, $form-blue, $very-light-blue)
	);
	
	color: $light-text;
	
	em { font-style: normal; color: $text; }
}

table {
	@include table-scaffolding;
		
	th, td {
		vertical-align: top;
		text-align: left;
		font-weight: normal;
	}
}

.alt_row {
	background-color: $form-blue;
	border-top: 1px solid $border-blue;
	border-bottom: 1px solid $border-blue;
}

.intro {
	background: url(../images/animal-tile.gif) repeat -30% 0;
}

.introduction { 
	@include text-shadow(0 1px 1px #fff);
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
}
.tagline {
	display: block;
}

#statistics,
#how_to_contribute
 {
	margin-top: 3em;
}
.homeStatistic {
	margin-bottom: 2em; 
	
	.icon {
		text-align: right;
	}
	
	.metric {
		color: $home-statistic-color;
		margin-bottom: ms(0);
	}
	
	.mostRecent {
		color: $light-text;
		
		.mostRecentEntry,
		.userName {
			color: $text;
		}
		
		a {
			border-bottom: 0;
			
			&:hover {
				color: $link-hover-color;
				text-decoration: underline;
			}
		}
	}
}

#how_to_contribute{
	h2 { 
		position: relative;
		left: -2px;
	}
	#icznLogo {
		position: relative;
		top: -45px;
		left: 45px;
		z-index: -10000;
		text-align: right;

	}
}

.searchBar {
	background-color: $form-blue;
	border-top: 1px solid $border-blue;
	border-bottom: 1px solid $border-blue;
	padding: 1em 0;
	margin-bottom: 1em;
	
	.container {
		text-align: center;
	}
	
	.search_input_field {
		font-size: ms(1);
		padding-top: 0.3em;
		padding-bottom: 0.3em;
	}
}




.cta {
	@include text-shadow(0 -1px 1px transparentize($yellow-shadow, 0.7));
	@include border-radius(3px);
	@include border-top-left-radius(0);
	position: relative;
	top: -3px;
	background: $yellow url(../images/yellow-corner.gif) bottom right no-repeat;
	color: $very-light-yellow;
	text-align: center;
	padding: 0.25em 0;

	&:before {
		position: absolute;
		top: 0px;
		left: -3px;
		width: 3px;
		height: 3px;
		font-size: 1px;
		line-height: 1px;
		content: url(../images/cta-loop.gif);
	}
}

.ui-tabs ul {
	@include clearfix;
	float: none;
	width: auto;
}

#registrationForm {
	background-color: $form-blue;
	border-top: 1px solid $border-blue;
}
#publicationTabs {
	padding-top: 1em;
	border-bottom: 1px solid $border-blue;
	
		
	.ui-tabs-nav {
		margin-top: 1em;
	}
		
	.ui-tabs-panel {
		padding: 1em 0;
	}
}
	
fieldset.buttons {
	border-top: 1px solid $border-blue;
}

.citationList {
	li{
		margin-bottom: ms(2) !important;
	}
}

legend { display: none; }


.actSummary {
	margin-bottom: 2em;
		
	.biblio-entry {
		display: block;
		width: 60%;
	}
}

.nextAction {
	padding: 2em 0;
	background-color: $form-blue;
	border-top: 1px solid $border-blue;
	border-bottom: 1px solid $border-blue;
}

.registerAnother {
	color: $purple;
	
	a {
		padding: 0.25em 0.5em;
	}
}

.lsidWrapper {
	@include clearfix;
	margin-bottom: 1em;
	
	.lsidLogo, .lsid { 
		@include float(left);
		line-height: ms(2);
		padding: 2px 4px;
	}
	.lsidLogo {
		@include border-top-left-radius(3px);
		@include border-bottom-left-radius(3px);
		color: #fff;
		background-color: $lsid-orange;
		border: 1px solid $lsid-orange;
	}
	input.lsid {
		width: 45em;
		margin: 0;
	    border: 1px solid $border-blue;
		border-left: 0;
	    background: lighten($very-light-blue, 2);
	    -webkit-appearance: none;
		outline: none
	}
	#clippy {
		@include float(left);
		margin-top: 4px;
		margin-left: 4px;
	}
}

.lsidButton {
	display: inline-block;
	text-indent: -9999em;
	height: 11px;
	width: 29px;
	background: url(../images/lsid-sprite.gif) no-repeat top left;
	
	a:hover & {
		background-position: left bottom;
	}
}

.authorDisambiguation {
	padding-top: 1em;
	margin-top: 1em;
	background-color: $form-blue;
	border-top: 1px solid $border-blue;

	.specialties,
	.sparkline { 
		padding-left: 3em;
	}
	
	td.specialties {
		color: $light-text; 
	}
	
	
	td,th {
	}
	thead th {
		font-weight: bold;
		padding-bottom: 1em;
	}
}

ul.newAuthor {
	width: 100% !important;
	li {
		width: auto !important;
	}
	.formHint {
		width: 100%;
	}
}

#nomenclaturalActs {
	.inlineLabel input,
	.inlineLabels .inlineLabel input,
	.blockLabels .inlineLabel input,
	label input{ float: none; display: inline; margin: 0; padding: 0; border: none; }
	
}

input.hasLSID{
	background-image: url(../images/lsid-token.gif);
	background-repeat: no-repeat;
	background-position: center right;
}



/* Search results */


.searchResults {
	text-align: left;
	margin-left: 0;
	margin-bottom: 1.5em;
	
	li {
		margin-bottom: 1em;
	}
	

	
	.actName {
	}
	
	.authorship{
		color: $light-text;
	}
	
}

a.biblio-entry{
	color: $text;
			
	.biblio-authors {
		color: $link-color;
	}
			
	&:hover {
		color: $link-hover-color;
		border-bottom: 1px solid $link-hover-color;
		.biblio-authors { color: $link-hover-color; }
	}
}


.facetedNavigation.sticky {
	position: relative;
	
	.facetedInfo {
		position: fixed;
		top: 0;
	}

}



/* outlinks */

.outlink {
	margin-bottom: 1em;
	
	.attribution {
		margin-bottom: 1em;
	}
	.attributionLogoWrapper {
		@include float(left);
		@include border-radius(5px);
		@include box-shadow( lighten($border-blue, 1) 0 1px 2px inset);
		margin-right: 0.5em;
		padding: 3px;
		background-color: #fff;
		border: 1px solid $border-blue;
		text-decoration: none;
	}
}


/* Special styles for the BHL outlink */
.bhl_results {
	padding: 0.5em 0;
	margin-bottom: 1em;
	
	.outlink {
		margin-bottom: 0;
	}
}
.bhlPageImages {
	@include clearfix;
	
	.bhlPage {
		@include float(left);
		margin-right: 0.5em;
		
		.thumbnail {
			display: block;
		}
	}
}


.pubNames {
	background-color: $form-blue;
	border-top: 1px solid $border-blue;
	
	.candidateNomenclaturalActs {
		li {
			.registerButton{
				display: none;
			}
			
			&:hover {
				.registerButton {
					display: inline-block;
				}
			}
			
			&.open{
				.registerButton {
					display: inline-block;
				}
			}
		}
	}
	
	.inlineRegistration {
		border: 1px solid $border-blue;
		background-color: $very-light-blue;
		width: 35em;
	}
}