/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "modular-scale";
@import "susy";
@import "sassy-buttons";

@import "colors";
@import "typography";
@import "uni-form";
@import "grid";
@import "uni-form-theme";
@import "autocomplete";
@import "tabs";

.check { color: $dark-green; }

body {
	background-color: $very-light-blue;
	color: $text;
}

#header {
	background-color: $purple;
	height: ms(6);
	margin-bottom: ms(1);
}

	.logo {
		float: left;
		a{ color: $very-light-blue; text-decoration: none;}
	}
	nav {
		padding-top: ms(6) - ms(1) - 3px;
		float:right;
		li { 
			display: inline;
			a {
				padding-left: 1em;
				color: $very-light-blue;
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
					color: $yellow;
				}
			}
		}
	}


table {
	@include table-scaffolding;
		
	th, td {
		vertical-align: top;
		text-align: left;
		font-weight: normal;
	}
}

.introduction { 
	@include text-shadow(0 1px 1px #fff);
	margin: 2em 0;
}
.tagline {
	display: block;
}

.cta {
	@include text-shadow(0 -1px 1px transparentize($yellow-shadow, 0.7));
	@include border-radius(3px);
	@include border-top-left-radius(0);
	position: relative;
	top: -3px;
	background: $yellow url(../images/yellow-corner.gif) bottom right no-repeat;
	color: $very-light-yellow;
	text-align: center;
	padding: 0.25em 0;

	&:before {
		position: absolute;
		top: 0px;
		left: -3px;
		width: 3px;
		height: 3px;
		font-size: 1px;
		line-height: 1px;
		content: url(../images/cta-loop.gif);
	}
}

.ui-tabs ul {
	@include clearfix;
	float: none;
	width: auto;
}

#registrationForm {
	background-color: $form-blue;
	border-top: 1px solid $border-blue;
}
#publicationTabs {
	padding-top: 1em;
	border-bottom: 1px solid $border-blue;
	
		
	.ui-tabs-nav {
		margin-top: 1em;
	}
		
	.ui-tabs-panel {
		padding: 1em 0;
	}
}
	
fieldset.buttons {
	border-top: 1px solid $border-blue;
}

.citationList {
	li{
		margin-bottom: ms(2) !important;
	}
}

legend { display: none; }


.actSummary {
	margin-bottom: 2em;
		
	.biblio-entry {
		display: block;
		width: 60%;
	}
}

.nextAction {
	padding: 2em 0;
	background-color: $form-blue;
	border-top: 1px solid $border-blue;
	border-bottom: 1px solid $border-blue;
}

.registerAnother {
	color: $purple;
	
	a {
		padding: 0.25em 0.5em;
	}
}

.lsidWrapper {
	@include clearfix;
	margin-bottom: 1em;
	
	.lsidLogo, .lsid { 
		@include float(left);
		line-height: ms(2);
		padding: 2px 4px;
	}
	.lsidLogo {
		@include border-top-left-radius(3px);
		@include border-bottom-left-radius(3px);
		color: #fff;
		background-color: $lsid-orange;
		border: 1px solid $lsid-orange;
	}
	input.lsid {
		width: 40em;
		margin: 0;
	    border: 1px solid $border-blue;
		border-left: 0;
	    background: lighten($very-light-blue, 2);
	    -webkit-appearance: none;
		outline: none
	}
	#clippy {
		@include float(left);
		margin-top: 4px;
		margin-left: 4px;
	}
}

.authorDisambiguation {
	padding-top: 1em;
	margin-top: 1em;
	background-color: $form-blue;
	border-top: 1px solid $border-blue;

	.specialties,
	.sparkline { 
		padding-left: 3em;
	}
	
	td.specialties {
		color: $light-text; 
	}
	
	
	td,th {
	}
	thead th {
		font-weight: bold;
		padding-bottom: 1em;
	}
}

ul.newAuthor {
	width: 100% !important;
	li {
		width: auto !important;
	}
	.formHint {
		width: 100%;
	}
}

#nomenclaturalActs {
	.inlineLabel input,
	.inlineLabels .inlineLabel input,
	.blockLabels .inlineLabel input,
	label input{ float: none; display: inline; margin: 0; padding: 0; border: none; }
	
}

input.hasLSID{
	background-image: url(../images/lsid-token.gif);
	background-repeat: no-repeat;
	background-position: center right;
}



/* Search results */
.searchResults {
	text-align: left;
	
	li:hover {
		text-decoration: underline;
		cursor: pointer;
	}
	
	.actName {
	}
	
	.authorship{
		color: $light-text;
	}
	
}
