<!--
  DOI
-->
        
<fieldset id="doi_fields" class="inlineLabels">
  <legend>Digital Object Identifier</legend>
  <div class="container">
    <div class="ctrlHolder">
      <label for="doi"><abbr title="Digital Object Identifier">DOI</abbr></label>
      <input name="doi" id="doi" placeholder="10.1000/182" size="35" maxlength="50" type="text" class="textInput required">
    </div>
  </div>
</fieldset>