				
<!--
	Nomenclatural Acts
-->

<fieldset id="nomenclaturalActs" class="inlineLabels">
	<legend>Nomenclatural Acts</legend>
	<div class="container">
	    <div class="infoMsg">
		  <p>If you are registering multiple taxa in this publication, your life might be easier if you start with higher-order taxa first.</p>
	    </div>
		
		<div class="ctrlHolder">
			<label for="rank_id">Taxonomic rank</label> <select id="rank_id" name="rank_id">
				<option value="50">Family</option>
				<option value="53" class="subCategory">&nbsp;&nbsp;&nbsp;Subfamily</option>
				<option value="55" class="subCategory">&nbsp;&nbsp;&nbsp;Tribe</option>
				<option value="60">Genus</option>
				<option value="63" class="subCategory">&nbsp;&nbsp;&nbsp;Subgenus</option>
				<option value="70" selected="selected">Species</option>
				<option value="73" class="subCategory">&nbsp;&nbsp;&nbsp;Subspecies</option>
			</select>
		</div>
		
		<div class="ctrlHolder">
			<label for="name">Species epithet</label>
			<input name="name" id="name" placeholder="" size="35" maxlength="50" type="text" class="textInput required">
		</div>
		
		<% if (parent_genus rescue false) %>
		    <div class="ctrlHolder">
		      <p class="label">Parent genus</p>
		      <ul class="">
		        <li>
		          <label for="g1"><input type="radio" id="g1" name="parent"/> <%= parent_genus %></label>
		        </li>
			
		        <li class="subInput">
		          <label for="parentName"><input type="radio" id="g4" name="parent"/>
	 Other</label> <input type="text" id="parentName" name="parentName" class="textInput"/>
		        </li>
		      </ul>
		    </div>
			<!-- TODO this should be UJS -->
			<script type="text/javascript" charset="utf-8">
				$(function(){
					var $radio = $('#g4');
					$('#parentName').on('focus', function(){ $radio.attr('checked', 'checked'); });
				});
			</script>
		<% else %>		
			<div class="ctrlHolder">
				<label for="parentName">Parent genus</label> <input name="parentName" id="parentName" placeholder="" size="35" maxlength="50" type="text" class="textInput required">
			</div>
			
			<div id="parentDisambiguation">
			    <div class="errorMsg">
				  <p>ZooBank is unfamiliar with the genus you've entered.</p>
				  <p>Is it described in this same publication as woodii?</p>
			    </div>
	   		    <div class="ctrlHolder">
				  <p class="label"></p>
	   		      <ul class="">
	   		        <li><label for="genus_yes"><input type="radio" id="genus_yes" name="genus_defined"/> Yes, Doorstoppius is described in this publication</label></li>
					<li><label for="genus_no"><input type="radio" id="genus_no" name="genus_defined"/> No, it is described in a different publication</label></li>
	   		      </ul>
	   		    </div>
			</div>						
		<% end %>
	</div>
</fieldset>
