<!--
  Publication/Citation Information
-->
        
<fieldset id="publication_fields" class="inlineLabels">
  <legend>Publication</legend>
  <div class="container">
    <div class="ctrlHolder">
      <p class="label">Publication type</p>
      <ul class="blockLabels">
        <li>
          <label for="pubtype_1"><input type="radio" id="pubtype_1" name="pubtype" checked="checked"> Article in a journal, magazine, or other periodical</label>
        </li>
        <li>
          <label for="pubtype_2"><input type="radio" id="pubtype_2" name="pubtype"> Book or monograph</label>
        </li>
      </ul>
    </div>
    <div class="ctrlHolder">
      <p class="label">Publication status</p>
      <ul class="blockLabels">
        <li>
          <label for="published_no"><input type="radio" id="published_no" name="published" checked="checked"> This work has not yet been published</label>
        </li>
        <li>
          <label for="published_yes"><input type="radio" id="published_yes" name="published"> This work was published on:</label>
        </li>
      </ul>
    </div>
    <div class="ctrlHolder">
      <p class="label">Date of publication</p>
      <ul class="alternate dateSelect">
        <li>
          <label for="year">Year</label> <input name="year" id="year" placeholder="e.g. 1957" size="8" maxlength="4" type="text" class="textInput required auto">
        </li>
        <li>
          <label for="month">Month</label> <select name="month" id="month" class="selectInput auto">
            <option value='1'>January</option>
            <option value='2'>February</option>
            <option value='3'>March</option>
            <option value='4'>April</option>
            <option value='5'>May</option>
            <option value='6'>June</option>
            <option value='7'>July</option>
            <option value='8'>August</option>
            <option value='9'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
          </select>
          <p class="formHint">Optional</p>
        </li>
        <li>
          <label for="day">Day</label> <input name="day" id="day" size="2" maxlength="2" type="text" class="textInput auto">
          <p class="formHint">Optional</p>
        </li>
      </ul>
    </div>
            
    <div class="ctrlHolder">
      <p class="label">Authors</p>
      <ul id="authorList">
        <li><input name="author1" id="author1" size="35" maxlength="50" type="text" class="textInput authorInput" placeholder="Wilson, Edward O." /></li>
        <li><input name="author2" id="author2" size="35" maxlength="50" type="text" class="textInput authorInput" placeholder="add another author..." /></li>
      </ul>
    </div>

    <div class="ctrlHolder">
      <label for="title">Article title</label> 
	  <textarea name="title" id="title" rows="2" cols="25"></textarea>
      <p class="formHint">The title of this particular article</p>
    </div>
    <div class="ctrlHolder">
      <label for="journal_name">Journal name</label> <input name="journal_name" id="journal_name" placeholder="e.g. Bulletin of the Museum of Comparative Zoology" size="35" maxlength="50" type="text" class="textInput required">
      <p class="formHint">
        The name of the journal that published this article
      </p>
    </div>
    <fieldset class="optionalInformation">
      <legend>Optional Citation Information</legend>
      <div class="infoMsg">
        <p>The following fields are optional, but are appreciated.</p>
      </div>
      <div class="ctrlHolder">
        <label for="issn">ISSN</label> <input name="issn" id="issn" placeholder="" size="35" maxlength="50" type="text" class="textInput">
      </div>
      <div class="ctrlGroup" id="volume_issue">
        <div class="ctrlHolder">
          <label for="volume">Volume</label> <input name="volume" id="volume" placeholder="" size="35" maxlength="50" type="text" class="textInput">
        </div>
        <div class="ctrlHolder">
          <label for="issue">Issue</label> <input name="issue" id="issue" placeholder="" size="35" maxlength="50" type="text" class="textInput">
        </div>
      </div>
      <div class="ctrlHolder">
        <label for="pages">Pages</label> <input name="pages" id="pages" placeholder="" size="35" maxlength="50" type="text" class="textInput">
      </div>
      <div class="ctrlHolder">
        <label for="language">Language</label> <input name="language" id="language" placeholder="" size="35" maxlength="50" type="text" class="textInput">
      </div>
    </fieldset>
  </div>
</fieldset>
        
