<div class="ctrlHolder">
  <label for="title">Book title</label> 
  <textarea name="title" id="title" rows="2" cols="25"></textarea>
</div>
<fieldset class="optionalInformation">
  <legend>Optional Citation Information</legend>
  <div class="infoMsg">
    <p>The following fields are optional, but are appreciated.</p>
  </div>
  <div class="ctrlHolder">
    <label for="isbn">ISBN</label> <input name="isbn" id="isbn" placeholder="" size="35" maxlength="50" type="text" class="textInput">
  </div>
  <div class="ctrlHolder">
    <label for="publisher">Publisher</label> <input name="publisher" id="publisher" size="35" maxlength="50" type="text" class="textInput">
  </div>
  <div class="ctrlGroup" id="volume_issue">
    <div class="ctrlHolder">
      <label for="city">City</label> <input name="city" id="city" placeholder="" size="35" maxlength="50" type="text" class="textInput">
    </div>
    <div class="ctrlHolder">
      <label for="edition">Edition</label> <input name="edition" id="edition" placeholder="" size="35" maxlength="50" type="text" class="textInput">
    </div>
  </div>
  <div class="ctrlHolder">
    <label for="pages">Pages</label> <input name="pages" id="pages" placeholder="" size="35" maxlength="50" type="text" class="textInput">
  </div>
  <div class="ctrlHolder">
    <label for="language">Language</label> <input name="language" id="language" placeholder="" size="35" maxlength="50" type="text" class="textInput">
  </div>
</fieldset>
