
<!-- Recent publications -->
 
<fieldset id="recent_publications_fields" class="inlineLabels">
  <legend>Recent Publications</legend>
  <div class="container">
    <div class="ctrlHolder">
      <p class="label">Recent Publications</p>
      <ul class="blockLabels">
        <li>
          <label for="pub1"><input type="radio" id="pub1" name="recent_pubs"> <span class="biblio-entry"><span class="biblio-authors">Bond, J. E., &amp; Stocman A. K.</span> (2008).&nbsp;&nbsp;<span class="biblio-title">An Integrative Method for Delimiting Cohesion Species: Finding the Population-Species Interface in a Group of California Trapdoor Spiders with Extreme Genetic Divergence and Geographic Structuring.</span> <u>Systematic Biology. 57,</u></span></label>
        </li>
        
        <li>
          <label for="pub2"><input type="radio" id="pub2" name="recent_pubs"> <span class="biblio-entry"><span class="biblio-authors">Avil&eacute;s, L., &amp; Bukowski T. C.</span> (2006).&nbsp;&nbsp;<span class="biblio-title">Natal dispersal and breeding dispersal of a subsocial spitting spider (Scytodes pallida) (Araneae: Scytodidae) from Singapore.</span> <u>Journal of Zoology, London. 268,</u> 121-126.</span></label>
        </li>
        
        <li>
          <label for="pub3"><input type="radio" id="pub3" name="recent_pubs"> <span class="biblio-entry"><span class="biblio-authors">Li, D., &amp; Kuan J. Y. X.</span> (2006).&nbsp;&nbsp;<span class="biblio-title">Group living and inbreeding depression in a subsocial spider.</span> <u>Proceedings of the Royal Society of London, B. 273,</u> 157-163.</span></label>
        </li>
        
        <li>
          <label for="pub4"><input type="radio" id="pub4" name="recent_pubs"> <span class="biblio-entry"><span class="biblio-authors">Agnarsson, I., Avilés L., Coddington J. A., &amp; Maddison W. P.</span> (2006).&nbsp;&nbsp;<span class="biblio-title">Social theridiid spiders - repeated origins of an evolutionary dead-end.</span> <u>Evolution. 60,</u> 157-163.</span></label>
        </li>
        
        <li>
          <label for="pub5"><input type="radio" id="pub5" name="recent_pubs"> <span class="biblio-entry"><span class="biblio-authors">Miller, J. A.</span> (2006).&nbsp;&nbsp;<span class="biblio-title"> Web-sharing sociality and cooperative prey capture in a Malagasy spitting spider (Araneae: Scytodidae).</span> <u>Proceedings of the California Academy of Sciences. 57,</u> 735-750.</span></label>
        </li>
        
      </ul>
    </div>
  </div>
</fieldset>

