<div class="container">
	<p class="introduction"><span class="tagline">The official registry of zoological nomenclature.</span> ZooBank provides a means for authors and publishers to electronically register new nomenclatural acts, and assigns unique Life Science Identifiers (<abbr title="Life Science Identifier">lsid</abbr>s) to those names. </p>
</div>


<div class="searchBar">
	<div class="container">
		<input type="text" class="search_input_field" id="taxon_act_search_string" onchange="general_search();" dir="ltr" x-webkit-speech="" x-webkit-grammar="builtin:search" lang="en" size="65">
		<span onclick="general_search();" class="primaryAction small">search</span>
	</div>
</div>


<div id="results_display_layer" class="results_display_layer container"></div>
<div class="container">
	<div id="statistics">
		<div class="homeStatistic">
			<div class="icon">
				<img src="images/stats-icon-nomenclatural-acts.gif" />
			</div>
			<div class="info">
				<div class="value">77,176</div>
				<div class="metric">Nomenclatural Acts</div>
				<div class="mostRecent">
					<p>Most recent: <a href="taxonAct.html" class="mostRecentEntry"><span class="actName"><em>Potamothrix parabedoti</em></span> <span class="authorship">Cui &amp; Wang 2012</a></p>
					<p class="registrationAttribution">Registered by <a href="author.html" class="userName">Robert Kennedy Whitton</a> on <span class="timestamp">March 23</span></p>
				</div>
			</div>
		</div>
		
		<div class="homeStatistic">
			<div class="icon">
				<img src="images/stats-icon-publications.gif" />
			</div>
			<div class="info">
				<div class="value">30,656</div>
				<div class="metric">Publications</div>
				<div class="mostRecent">
					<p>Most recent: <a href="pub.html" class="mostRecentEntry">Cui, Yongde & Hongzhu Wang 2012</a></p>
					<p class="registrationAttribution">Registered by <a href="author.html" class="userName">Robert Kennedy Whitton</a> on <span class="timestamp">March 23</span></p>
				</div>
			</div>
		</div>
		
		<div class="homeStatistic">
			<div class="icon">
				<img src="images/stats-icon-authors.gif" />
			</div>
			<div class="info">
				<div class="value">12,770</div>
				<div class="metric">Authors</div>
				<div class="mostRecent">
					<p>Most recent: <a href="author.html" class="mostRecentEntry">Pyle, Lil' Ricky</a></p>
					<p class="registrationAttribution">Registered by <a href="author.html" class="userName">Robert Kennedy Whitton</a> on <span class="timestamp">March 23</span></p>
				</div>
			</div>
		</div>
	</div>
	<div id="how_to_contribute">
		<h2 class="contribute_to_zoobank">Contribute to ZooBank</h2>
		<p>ZooBank is currently invite-only. If you would like to register new names, ask a current ZooBank editor for an account, or request one below.</p>
		<p style="text-align:center;">
			<a href="#" class="primaryAction">Request an Account</a>
		</p>
		<div id="icznLogo" ><img src="images/iczn-birds.png" /></div>
	</div>
</div>
<div id="detailed_results_container" class="detailed_results_container container"></div>
