<div class="container">
	<div class="okMsg">
		<p>You have successfully registered the {species} {Doorstoppius woodus}.</p>
	</div>
	
	<h2><em>but we would appreciate a little extra information</em></h2>
	<div class="infoMsg">
		<p>ZooBank is unfamiliar with some of the authors you have entered.</p>
		<p>We've made our best guess at identifying the ambiguous authors and would appreciate it if you would confirm them.</p>
	</div>
	
	
	<ul class="authorDisambiguation">
		<li><span class="author ok">Pyle, Richard Lawrence (Dr.)</span></li>
		<li>
			<span class="author ambiguous">Rob Whitton</span>
			<table>
				<tr>
					<td><input type="radio" name="radio2"/></td>
					<td>Whitton, Robert Kennedy</td>
					<td>Myliobatiformes</td>
				</tr>
			</table>
			
		</li>
		<li>
			<span class="author ambiguous">Schenk, R</span>
			<table>
				<tr>
					<td><input type="radio" name="radio1"/></td>
					<td>Schenk, Ryan</td>
					<td>Chamaeleonidae, Iguanidae</td>
				</tr>
				<tr>
					<td><input type="radio" name="radio1"/></td>
					<td>Schenk, Rutherford</td>
					<td>Caviidae</td>
				</tr>
				<tr>
					<td><input type="radio" name="radio1"/></td>
					<td>Schenk, Roger</td>
					<td>Apoidea</td>
				</tr>
			</table>
		</li>
		<li>
			<span class="author notFound">Clinton, George</span>

		</li>
		
	</ul>
</div>
