<div class="container">
	<div class="okMsg">
		<p>You have successfully registered the species Doorstoppius woodii.</p>
	</div>
	
	<%= render '_act_summary.html.erb' %>	
</div>

<div class="nextAction">
	<div class="container">
		<div class="registerAnother">
			<p>Register another name from the <a href="same_pub.html#nomenclaturalActs" class="primaryAction">same publication</a> or a <a href="index.html" class="primaryAction">different publication</a></p>
		</div>
	</div>
</div>