<div class="container">
	<div class="okMsg">
		<p>You have successfully registered the {species} {Doorstoppius woodus}.</p>
	</div>
	
	<h2>Register another name</h2>
	<p>&hellip;from the <a href="same_pub.html" class="primaryAction">same publication</a> or a <a href="index.html" class="primaryAction">different publication</a></p>
</div>