<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>
			ZooBank Mockup 2
		</title>
		<link href="stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<link href="stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />		
		<!--[if IE]>
				<link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
		<![endif]-->
	
		<!-- These should be minified, concatenated, and go at the bottom of the finished design -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
			<script>window.jQuery || document.write("<script src='javascripts/jquery.min.js'><\/script>")</script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
			<script>window.jQuery.ui || document.write('<script src="javascripts/jquery-ui.min.js"><\/script>')</script>
		<script src="javascripts/underscore.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/underscore.string.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/backbone-min.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/backbone.modelbinding.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/jquery.ui.autocomplete.custom.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/jquery.cookie.js" type="text/javascript" charset="utf-8"></script>
		<script src="javascripts/uni-form-validation.jquery.js" type="text/javascript" charset="utf-8"></script>
		
	
	</head>
	<body>
		<header id="header">
			<div class="container">
				<h1 class="logo"><a href="index.html">ZooBank</a></h1>
				<nav>
					<ul>
						<li><a href="about.html">about</a></li>
						<li><a href="contact.html">contact</a></li>
					</ul>
				</nav>
		</header>

	<div class="container">
	<p class="introduction"><span class="tagline">The official registry of zoological nomenclature.</span> ZooBank provides a means for authors and publishers to electronically register new nomenclatural acts, and assigns unique Life Science Identifiers (<abbr title="Life Science Identifier">lsid</abbr>s) to those names. </p>
</div>


<section id="registrationForm">
	<form id="registration" class="uniForm" action="success.html" method="post" accept-charset="utf-8" name="registration">

		<div class="container">
			<h3 class="cta">Register a new name</h3>
		</div>
		
		<!-- <div id="errorMsg">
			<h3>Ooops! Your error message title</h3>
			<ol>
				<li>Error number one</li>
				<li>Error number two</li>
			</ol>
		</div> -->
		<!-- <div id="okMsg">
			<p>Looks like everything went OK! Yay!</p>
		</div> -->

		<div id="publicationTabs">
			<div class="container">
				<div class="infoMsg">
					<p>All names exist within the context of a publication. To register a name, we therefore need to know where it was (or will be) published.</p>
					<p>You may fill out the form below; save yourself time by pasting in a <abbr title="Digital Object Identifier">doi</abbr> or choosing one of your recently-entered publications.</p>
				</div>						
				<ul>
					<li><a href="#new_publication">Enter publication details</a></li>
					<li><a href="#doi_fields">Paste in a <abbr title="Digital Object Identifier">DOI</abbr></a></li>
					<li><a href="#recent_publications_fields">Choose from your recent publications</a></li>
				</ul>
						
			</div>
			<div id="new_publication"></div>
			<!--
  DOI
-->
        
<fieldset id="doi_fields" class="inlineLabels">
  <legend>Digital Object Identifier</legend>
  <div class="container">
    <div class="ctrlHolder">
      <label for="doi"><abbr title="Digital Object Identifier">DOI</abbr></label>
      <input name="doi" id="doi" placeholder="10.1000/182" size="35" maxlength="50" type="text" class="textInput required">
    </div>
  </div>
</fieldset>
			
<!-- Recent publications -->
 
<fieldset id="recent_publications_fields" class="inlineLabels">
  <legend>Recent Publications</legend>
  <div class="container">
    <div class="ctrlHolder">
      <p class="label">Recent Publications</p>
      <ul class="blockLabels citationList">
        <li>
          <label for="pub1"><input type="radio" id="pub1" name="recentPublicationId" value="1234"> <span class="biblio-entry"><span class="biblio-authors">Bond, J. E., &amp; Stocman A. K.</span> (2008).&nbsp;&nbsp;<span class="biblio-title">An Integrative Method for Delimiting Cohesion Species: Finding the Population-Species Interface in a Group of California Trapdoor Spiders with Extreme Genetic Divergence and Geographic Structuring.</span> <u>Systematic Biology. 57,</u></span></label>
        </li>
        
        <li>
          <label for="pub2"><input type="radio" id="pub2" name="recentPublicationId" value="5678"> <span class="biblio-entry"><span class="biblio-authors">Avil&eacute;s, L., &amp; Bukowski T. C.</span> (2006).&nbsp;&nbsp;<span class="biblio-title">Natal dispersal and breeding dispersal of a subsocial spitting spider (Scytodes pallida) (Araneae: Scytodidae) from Singapore.</span> <u>Journal of Zoology, London. 268,</u> 121-126.</span></label>
        </li>
        
        <li>
          <label for="pub3"><input type="radio" id="pub3" name="recentPublicationId" value="9101112"> <span class="biblio-entry"><span class="biblio-authors">Li, D., &amp; Kuan J. Y. X.</span> (2006).&nbsp;&nbsp;<span class="biblio-title">Group living and inbreeding depression in a subsocial spider.</span> <u>Proceedings of the Royal Society of London, B. 273,</u> 157-163.</span></label>
        </li>
        
      </ul>
    </div>
  </div>
</fieldset>


		</div>
		
		<div id="taxonName"></div>

		<fieldset class="buttons">
			<div class="container">
				<div class="buttonHolder">
					<button type="submit" class="primaryAction">Register Name</button>
				</div>
				<p><a href="step_2.html">[author disambiguation]</a> <a href="#" id="enableParentDisambiguation">[parent disambiguation]</a></p>
			</div>
		</fieldset>
	</form>
</section>


<!-- Templates -->
<script type='text/template' id='authorInputTemplate'><input name="author-<%= model.cid %>" id="author-<%= model.cid %>" type="text" class="authorInput textInput" placeholder="e.g Wilson, Edward O" value="<%= model.get('value') %>"/></script><script type='text/template' id='taxonNameTemplate'><fieldset id="nomenclaturalActs" class="inlineLabels">
	<legend>Nomenclatural Acts</legend>
	<div class="container">
	    <div class="infoMsg">
		  <p>If you are registering multiple taxa in this publication, your life might be easier if you start with higher-order taxa first.</p>
	    </div>
		
		<div class="ctrlHolder">
			<label for="rank_id">Taxonomic rank</label>
			<select id="rank_id" name="rank_id">
				<% taxonomy.each(function(rank){ %>
				<option value="<%= rank.get('id') %>" <%= (rank === model.get('rank')) ? 'selected="selected"' : '' %>><%= (rank.get('fullRank') ? '' : '&nbsp;&nbsp;' )%><%= rank.get('label') %></option>
			<% }) %>
			</select>
		</div>
		
		<div class="ctrlHolder">
			<label for="name"><%= model.nameLabel() %></label>
			<input name="name" id="name" placeholder="" size="35" maxlength="50" type="text" class="textInput required">
		</div>
		
		<% if( model.get('validParentRanks').length > 0) { %>
			<% if( model.get('validParentRanks').length > 1 ) { %>
				<div class="ctrlHolder">
					<p class="label">Parent rank</p>
					<ul>
					<% _.each( model.get('validParentRanks').reverse(), function(parentRank){ %>
						<li><label for="parent_<%= parentRank.get('id') %>"><input type="radio" value="<%= parentRank.get('id') %>" id="parent_<%= parentRank.get('id') %>" name="parent_rank_id" <%= (parentRank === model.get('parentRank')) ? 'checked="checked"' : '' %>/> <%= parentRank.get('label') %></label></li>	
					<% }) %>
					</ul>
				</div>
			<% } /* end if(validParentRanks.length > 1) */ %>
		
		<div class="ctrlHolder">
			<label for="parent_name">Parent <%= model.get('parentRank').get('label').toLowerCase() %></label>
			<input name="parent_name" id="parent_name" placeholder="" size="35" maxlength="50" type="text" class="textInput required">
		</div>
		
		<% } /* end if(validParentRanks.length > 0) */ %>
	</div>
</fieldset>
</script><script type='text/template' id='referenceTemplate'><!--
  Publication/Citation Information
-->
        
<fieldset id="reference_fields" class="inlineLabels">
  <legend>Publication</legend>
  <div class="container">
    <div class="ctrlHolder">
      <p class="label">Publication type</p>
      <ul class="blockLabels">
		  <% _.each(view.referenceTypes, function(type, i){ %>
        <li>
          <label><input type="radio" name="referenceTypeId" value="<%= type.id %>"> <%= type.label %></label>
        </li>
      <% }) %>
      </ul>
    </div>
    <div class="ctrlHolder">
      <p class="label">Publication status</p>
      <ul class="blockLabels">
        <li>
          <label for="published_no"><input type="radio" id="published_no" name="published" value="false"> This work has not yet been published</label>
        </li>
        <li>
          <label for="published_yes"><input type="radio" id="published_yes" name="published" value="true"> This work was published on:</label>
        </li>
      </ul>
    </div>
    <div class="ctrlHolder">
      <p class="label">Date of publication</p>
      <ul class="alternate dateSelect">
        <li>
          <label for="year">Year</label> <input name="year" id="year" placeholder="e.g. 1957" size="8" maxlength="4" type="text" class="textInput required auto">
        </li>
        <li>
          <label for="month">Month</label> <select name="month" id="month" class="selectInput auto">
			<option value=''> </option>
            <option value='1'>January</option>
            <option value='2'>February</option>
            <option value='3'>March</option>
            <option value='4'>April</option>
            <option value='5'>May</option>
            <option value='6'>June</option>
            <option value='7'>July</option>
            <option value='8'>August</option>
            <option value='9'>September</option>
            <option value='10'>October</option>
            <option value='11'>November</option>
            <option value='12'>December</option>
          </select>
          <p class="formHint">Optional</p>
        </li>
        <li>
          <label for="day">Day</label> <input name="day" id="day" size="2" maxlength="2" type="text" class="textInput auto">
          <p class="formHint">Optional</p>
        </li>
      </ul>
    </div>
            
    <div class="ctrlHolder">
      <p class="label">Authors</p>
      <ul id="authorList">
      </ul>
    </div>

	<!-- Render the type-specific fields here -->
	<div id="typeSpecificReferenceFields"></div>
  </div>
</fieldset>
        
</script><script type='text/template' id='referenceType1Template'><%/* This form is for Article (ReferenceTypeID 1) references */%>
<div class="ctrlHolder">
  <label for="title">Article title</label> 
  <textarea name="title" id="title" rows="2" cols="25"></textarea>
</div>
<div class="ctrlHolder">
  <label for="parentReferenceName">Journal name</label>
  <input name="parentReferenceName" id="parentReferenceName" placeholder="e.g. Bulletin of the Museum of Comparative Zoology" size="35" maxlength="50" type="text" class="textInput required" />
  <input name="parentReferenceId" id="parentReferenceId" type="hidden" />
</div>
<fieldset class="optionalInformation">
  <legend>Optional Citation Information</legend>
  <div class="infoMsg">
    <p>The following fields are optional, but are appreciated.</p>
  </div>
  <div class="ctrlHolder">
    <label for="issn">ISSN</label> <input name="issn" id="issn" placeholder="" size="35" maxlength="50" type="text" class="textInput">
  </div>
  <div class="ctrlGroup" id="volume_issue">
    <div class="ctrlHolder">
      <label for="volume">Volume</label> <input name="volume" id="volume" placeholder="" size="35" maxlength="50" type="text" class="textInput">
    </div>
    <div class="ctrlHolder">
      <label for="number">Issue</label> <input name="number" id="number" placeholder="" size="35" maxlength="50" type="text" class="textInput">
    </div>
  </div>
  <div class="ctrlHolder">
    <label for="pages">Pages</label> <input name="pages" id="pages" placeholder="" size="35" maxlength="50" type="text" class="textInput">
  </div>
  <div class="ctrlHolder">
    <label for="languageId">Language</label> <input name="languageId" id="languageId" placeholder="" size="35" maxlength="50" type="text" class="textInput">
  </div>
</fieldset>
</script><script type='text/template' id='referenceType2Template'><%/* This form is for Book (ReferenceTypeID 2) references */%>
<div class="ctrlHolder">
  <label for="title">Book title</label> 
  <textarea name="title" id="title" rows="2" cols="25"></textarea>
</div>
<fieldset class="optionalInformation">
  <legend>Optional Citation Information</legend>
  <div class="infoMsg">
    <p>The following fields are optional, but are appreciated.</p>
  </div>
  <div class="ctrlHolder">
    <label for="isbn">ISBN</label> <input name="isbn" id="isbn" placeholder="" size="35" maxlength="50" type="text" class="textInput">
  </div>
  <div class="ctrlHolder">
    <label for="publisher">Publisher</label> <input name="publisher" id="publisher" size="35" maxlength="50" type="text" class="textInput">
  </div>
  <div class="ctrlGroup" id="volume_issue">
    <div class="ctrlHolder">
      <label for="city">City</label> <input name="city" id="city" placeholder="" size="35" maxlength="50" type="text" class="textInput">
    </div>
    <div class="ctrlHolder">
      <label for="edition">Edition</label> <input name="edition" id="edition" placeholder="" size="35" maxlength="50" type="text" class="textInput">
    </div>
  </div>
  <div class="ctrlHolder">
    <label for="pages">Pages</label> <input name="pages" id="pages" placeholder="" size="35" maxlength="50" type="text" class="textInput">
  </div>
  <div class="ctrlHolder">
    <label for="language">Language</label> <input name="language" id="language" placeholder="" size="35" maxlength="50" type="text" class="textInput">
  </div>
</fieldset>
</script>


<!-- Backbone app -->
<script src="javascripts/app/models/author.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/collections/authors.js" type="text/javascript" charset="utf-8"></script>

<script src="javascripts/app/models/rank.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/models/taxon.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/models/reference.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/models/taxonName.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/models/registration.js" type="text/javascript" charset="utf-8"></script>

<script src="javascripts/app/collections/ranks.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/collections/taxonomy.js" type="text/javascript" charset="utf-8"></script>
	
<script src="javascripts/app/views/registrationFormView.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/views/taxonNameView.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/views/referenceFormView.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/views/authorInputView.js" type="text/javascript" charset="utf-8"></script>
<script src="javascripts/app/views/authorListInputView.js" type="text/javascript" charset="utf-8"></script>
	
<script src="javascripts/scripts.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(function(){
	$('#pub1').click();
})
</script>

	
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
	</body>
</html>
